
doctype 5
html
    head
        title #{title}

    body
        h1#title #{title}
        p #{body}

        ul#photos
            each photo , i in photos 
                li.photo
                    .photo-container
                        img(src=#{photo.url})