


#insert-caption
    width:850px
    height:350px
    margin:0 auto

    .caption-list
        width:350px
        height:340px
        float:left
        background:#fff
        border: 2px solid #e2652d

        .list-container
            width:320px
            height:336px
            float:left
            overflow:hidden

            ul
                position:relative
                top:0px
                li
                    margin-bottom:6px
                    transition: background .5s
  
                    background:#fff
                    cursor:pointer
                    

                   

                    > .top ,  > .bottom
                        transition: color .5s
                        position:relative
                        font-size:14px
                        font-weight:bold
                        margin-left:10px
                        width:310px
                        color:#000000
                        padding-top:5px


                    > .bottom
                        margin-top:2px
                        color:#6a6969
                        padding-bottom:5px

                     &:hover , &.selected
                        background:#e2652d
                        
                        > .top
                            color:#fff
                        > .bottom
                            color:#dedede
                          




        .scroll-bar
            position:relative
            width:12px
            height:336px
            margin:0 5px
            float:left

            .rail
                position:absolute
                width:12px
                height:336px
                background:#e5e5e5

            .handle
                position:absolute
                width:12px
                height:40px
                background:#e2652d
                cursor:pointer
                top:0px

    #caption-container
        float:left
        clear:right
        width: 478px
        height: 340px
        border: 2px solid #e2652d
        margin-left: 22px
        position:relative

        > .top , > .bottom
            position:absolute

            textarea
                text-align:center
                user-select:all
                width:474px
                height:auto
                color:#fff
                background: transparent
                border: 1px solid #5f5f5f
                outline:0


        > .top
            top:0px

        > .bottom
            bottom:0px

        
