#navigation
    width:935px
    height:40px
    margin:0 auto
    visibility:hidden
    opacity:0

    .button
        > span
            float:left
            margin: 0 15px 0 0 

        > .reset-icon 
            background: url("/images/misc/restart.png") center center no-repeat
            width:37px
            height:37px
            float:left
            margin:0 0 0 10px



        &#next , &#reset
            float:right


