
#content
    width:965px
    height:590px
    margin:0 auto
    opacity:0
    visibility:hidden


    > .title
        width:725px
        height:100px
        margin:0 auto
        font-family:sans-serif
        color:#666666
        h2
            float:left
            font-size:24px
            height:100px
            width:235px
            padding-top:37px

        .subtitle
            float:left
            font-size:16px
            margin-left:10px
            height:100px
            width:470px
            padding-top:42px
    #intro

        .button
            float:none
            clear:both
            margin:20px auto

#content
    @import "selectmovie"
    @import "selectphoto"
    @import "insertcaption"
    





   