
doctype 5
html
    head

    body
        header
            ul
                li.nav-item Home
                li.nav-item News
        div#main
            block body

        footer
            ul
                li.footer-item Press