

<ul>
    <li class="step first orange">
        <div class="number">1</div>
        <div class="label"><%= data.copy.selectMovie %></div>
    </li>
    <li class="step gray">
        <div class="number">2</div>
        <div class="label"><%= data.copy.selectPhoto %></div>
    </li>
    <li class="step gray">
        <div class="number">3</div>
        <div class="label"><%= data.copy.insertCaption %></div>
    </li>
    <li class="step last gray">
        <div class="number">4</div>
        <div class="label"><%= data.copy.downloadShare %></div>
    </li>
</ul>