<div class="title">
    <h2><%= data.copy.title %></h2><div class="subtitle"><%= data.copy.subtitle %></div>
</div>
<div id="insert-caption">
    <div class="caption-list">
        <div class="list-container">
            <ul>
                <% _.each(captions , function (item, i) { %>
                    <li>
                        <div class="top"><%= item.top %></div>
                        <div class="bottom"><%= item.bottom %></div>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div id="caption-scroll" class="scroll-bar">
            <div class="rail"></div>
            <div class="handle"></div>
        </div>
    </div>
    <div id="caption-container">
        <div class="top">
            <textarea type="text" id="top-text" scrolling="no" />
        </div>
        <div class="bottom">
            <textarea type="text" id="bottom-text" scrolling="no"  />
        </div>
        <img width="474" src="<%= image.full %>">
    </div>


</div>