<div class="title">
    <h2><%= data.copy.title %></h2><div class="subtitle"><%= data.copy.subtitle %></div>
</div>


<div id="select-movies">

    <div class="side" id="prev-page"></div>
    <div class="center">
        <div class="container" id="movies">
            <ul class="slides">
                <% _.each( movies, function (movie, i) { %>
                <li class="page">
                    <ul>
                        <% _.each( movie , function (item, i) {%>
                        <li class="movie" data-movie-id="<%= i %>">
                            <div class="thumb">
                                <img width="226" src="<%= item.assets.thumb %>">
                            </div>
                            <div class="title">
                                <%= item.title %>
                            </div>
                            
                        </li>
                       


                        <% });%>
                    </ul>
                </li>
                <% });%>
            </ul>
        </div>
        <div class="pages">
            <ul>
            <% _.each( movies, function (movie, i) { %>
                <li>
                    <% if(i === 0) { %>
                    <div class="page active"></div>
                    <% }else{  %>
                    <div class="page"></div>
                    <% } %>
                </li>
            <% });%>
            </ul>
        </div>
    </div>
    <div class="side active" id="next-page"></div>

</div>
