html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body,
html {
  margin: 0;
  position: relative;
  font-family: "Arial", "Helvetica", sans-serif;
}
body > .app {
  width: 995px;
  height: 816px;
  background: #e5e5e5;
}
.app #header {
  width: 995px;
  height: 100px;
}
.app #header .title {
  width: 679px;
  height: 65px;
  margin: 0 auto;
  padding-top: 25px;
}
.app #breadcrumbs {
  width: 935px;
  height: 30px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.app #breadcrumbs ul > li.step {
  width: 248px;
  height: 30px;
  float: left;
  margin-left: -11px;
  font-size: 14px;
  color: #fff;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
}
.app #breadcrumbs ul > li.step div.number {
  background: url("/images/header/crumb_bevel.png") center center no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  margin-left: 20px;
}
.app #breadcrumbs ul > li.step div.label {
  float: left;
  line-height: 30px;
}
.app #breadcrumbs ul > li.step.gray {
  background: url("/images/header/crumb_gray.png");
}
.app #breadcrumbs ul > li.step.orange {
  background: url("/images/header/crumb_orange.png");
}
.app #breadcrumbs ul > li.step.first {
  width: 236px;
  height: 30px;
  margin-left: 0;
}
.app #breadcrumbs ul > li.step.first.gray {
  background: url("/images/header/crumb_first_gray.png");
}
.app #breadcrumbs ul > li.step.first.orange {
  background: url("/images/header/crumb_first_orange.png");
}
.app #breadcrumbs ul > li.step.last {
  width: 235px;
  height: 30px;
}
.app #breadcrumbs ul > li.step.last.gray {
  background: url("/images/header/crumb_last_gray.png");
}
.app #breadcrumbs ul > li.step.last.orange {
  background: url("/images/header/crumb_last_orange.png");
}
.app #navigation {
  width: 935px;
  height: 40px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.app #navigation .button > span {
  float: left;
  margin: 0 15px 0 0;
}
.app #navigation .button > .reset-icon {
  background: url("/images/misc/restart.png") center center no-repeat;
  width: 37px;
  height: 37px;
  float: left;
  margin: 0 0 0 10px;
}
.app #navigation .button#next,
.app #navigation .button#reset {
  float: right;
}
.app #content {
  width: 965px;
  height: 590px;
  margin: 0 auto;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  visibility: hidden;
}
.app #content > .title {
  width: 725px;
  height: 100px;
  margin: 0 auto;
  font-family: sans-serif;
  color: #666;
}
.app #content > .title h2 {
  float: left;
  font-size: 24px;
  height: 100px;
  width: 235px;
  padding-top: 37px;
}
.app #content > .title .subtitle {
  float: left;
  font-size: 16px;
  margin-left: 10px;
  height: 100px;
  width: 470px;
  padding-top: 42px;
}
.app #content #intro .button {
  float: none;
  clear: both;
  margin: 20px auto;
}
.app #content #select-movies {
  width: 965px;
  height: 465px;
}
.app #content #select-movies .side {
  float: left;
  width: 120px;
  height: 465px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.app #content #select-movies .side.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  cursor: pointer;
}
.app #content #select-movies .side#prev-page {
  clear: left;
  background: url("/images/misc/arrow_left.png") center center no-repeat;
}
.app #content #select-movies .side#next-page {
  clear: right;
  background: url("/images/misc/arrow_right.png") center center no-repeat;
}
.app #content #select-movies .center {
  width: 725px;
  height: 465px;
  float: left;
}
.app #content #select-movies .center .pages {
  width: 725px;
  height: 20px;
}
.app #content #select-movies .center .pages ul {
  height: 20px;
  margin: 0 auto;
}
.app #content #select-movies .center .pages ul li {
  background: url("/images/misc/page_tick_container.png") center center no-repeat;
  width: 20px;
  height: 20px;
  float: left;
}
.app #content #select-movies .center .pages ul li > .page {
  width: 20px;
  height: 20px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background: url("/images/misc/page_tick.png") center center no-repeat;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.app #content #select-movies .center .pages ul li > .page.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.app #content #select-movies .center .container {
  width: 725px;
  height: 445px;
  overflow: hidden;
  margin: 0 auto;
}
.app #content #select-movies .center .container ul {
  height: 465px;
  position: relative;
  left: 0px;
}
.app #content #select-movies .center .container ul li.page {
  width: 725px;
  height: 465px;
  float: left;
}
.app #content #select-movies .center .container ul li.page ul li.movie {
  float: left;
  width: 240px;
  height: 220px;
  cursor: pointer;
}
.app #content #select-movies .center .container ul li.page ul li.movie > .title {
  color: #666;
  font-size: 14px;
  text-align: left;
  width: 230px;
  margin: 3px auto;
}
.app #content #select-movies .center .container ul li.page ul li.movie > .thumb {
  width: 230px;
  height: 200px;
  margin: 0 auto;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  -ms-transition: border 0.5s;
  transition: border 0.5s;
  border: solid 2px #666;
}
.app #content #select-movies .center .container ul li.page ul li.movie > .thumb img {
  width: 226px;
  height: 196px;
}
.app #content #select-movies .center .container ul li.page ul li.movie:hover .thumb,
.app #content #select-movies .center .container ul li.page ul li.movie.selected .thumb {
  border: solid 2px #e2652d;
}
.app #content #select-photos {
  width: 935px;
  height: 465px;
  margin: 0 auto;
}
.app #content #select-photos .container {
  width: 935px;
  height: 350px;
  overflow: hidden;
}
.app #content #select-photos .container ul {
  position: relative;
  height: 350px;
  margin: 0 auto;
}
.app #content #select-photos .container ul li {
  width: 480px;
  height: 306px;
  float: left;
  cursor: pointer;
  position: relative;
}
.app #content #select-photos .container ul li > .image {
  width: 430px;
  height: 306px;
  margin: 0 auto;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  -ms-transition: border 0.5s;
  transition: border 0.5s;
  border: solid 2px #666;
}
.app #content #select-photos .container ul li:hover > .image,
.app #content #select-photos .container ul li.selected > .image {
  border: solid 2px #e2652d;
}
.app #content #select-photos #control-bar {
  width: 935px;
  height: 12px;
  position: relative;
}
.app #content #select-photos #control-bar .rail {
  position: absolute;
  width: 935px;
  height: 12px;
  background: #acacac;
}
.app #content #select-photos #control-bar .handle {
  position: absolute;
  width: 75px;
  height: 12px;
  background: #e2652d;
  cursor: pointer;
  left: 0;
}
.app #content #insert-caption {
  width: 850px;
  height: 350px;
  margin: 0 auto;
}
.app #content #insert-caption .caption-list {
  width: 350px;
  height: 340px;
  float: left;
  background: #fff;
  border: 2px solid #e2652d;
}
.app #content #insert-caption .caption-list .list-container {
  width: 320px;
  height: 336px;
  float: left;
  overflow: hidden;
}
.app #content #insert-caption .caption-list .list-container ul {
  position: relative;
  top: 0px;
}
.app #content #insert-caption .caption-list .list-container ul li {
  margin-bottom: 6px;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
  background: #fff;
  cursor: pointer;
}
.app #content #insert-caption .caption-list .list-container ul li > .top,
.app #content #insert-caption .caption-list .list-container ul li > .bottom {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  width: 310px;
  color: #000;
  padding-top: 5px;
}
.app #content #insert-caption .caption-list .list-container ul li > .bottom {
  margin-top: 2px;
  color: #6a6969;
  padding-bottom: 5px;
}
.app #content #insert-caption .caption-list .list-container ul li:hover,
.app #content #insert-caption .caption-list .list-container ul li.selected {
  background: #e2652d;
}
.app #content #insert-caption .caption-list .list-container ul li:hover > .top,
.app #content #insert-caption .caption-list .list-container ul li.selected > .top {
  color: #fff;
}
.app #content #insert-caption .caption-list .list-container ul li:hover > .bottom,
.app #content #insert-caption .caption-list .list-container ul li.selected > .bottom {
  color: #dedede;
}
.app #content #insert-caption .caption-list .scroll-bar {
  position: relative;
  width: 12px;
  height: 336px;
  margin: 0 5px;
  float: left;
}
.app #content #insert-caption .caption-list .scroll-bar .rail {
  position: absolute;
  width: 12px;
  height: 336px;
  background: #e5e5e5;
}
.app #content #insert-caption .caption-list .scroll-bar .handle {
  position: absolute;
  width: 12px;
  height: 40px;
  background: #e2652d;
  cursor: pointer;
  top: 0px;
}
.app #content #insert-caption #caption-container {
  float: left;
  clear: right;
  width: 478px;
  height: 340px;
  border: 2px solid #e2652d;
  margin-left: 22px;
  position: relative;
}
.app #content #insert-caption #caption-container > .top,
.app #content #insert-caption #caption-container > .bottom {
  position: absolute;
}
.app #content #insert-caption #caption-container > .top textarea,
.app #content #insert-caption #caption-container > .bottom textarea {
  text-align: center;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  width: 474px;
  height: auto;
  color: #fff;
  background: transparent;
  border: 1px solid #5f5f5f;
  outline: 0;
}
.app #content #insert-caption #caption-container > .top {
  top: 0px;
}
.app #content #insert-caption #caption-container > .bottom {
  bottom: 0px;
}
.app .button {
  height: 37px;
  background: url("/images/misc/button_color.jpg") top left repeat-x;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  min-width: 150px;
  float: left;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 37px;
  color: #fff;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  cursor: default;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.app .button.active {
  cursor: pointer;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
